.container_z{
    background-color: #edf5ff;
  }
  .child{
        margin-left: 132px;
      width: 81vw;
      height: 19vh; 
      background-color: #ffffff;
      box-shadow: 0px 0px 8px;
      padding: 18px;
      display: flex;
  }
  .child_inner_a{
    margin: 14px;
    display: grid;
    grid-template-rows: 54px 64px;
    grid-template-columns: 78px 142px ;
    
}
  h1{
    text-align: center;
  }
  .cost-effective-p{
    grid-column-start: 3;
  }
  
   