*{
    margin: 0;
    padding: 0;
}
.main-nav{
    width: 100%;
    height: 42px;
    background-color: #ffffff;
    padding:13px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    
}
 .navigation-list{
    list-style: none;
    margin: -1px;
    padding: 15px;
    display: flex;
    justify-content: center;
}   
.navigation-item{
    margin: 0px 10px;
    
} 
.active{
    color: green;
}
.navigation-item:hover{
    color: green;
}
.contact{
    background-color: green;
    border-radius: 263px 165px;
    color: white;
    height: 24px;
}
.download{
    background-color: green;
    border-radius: 263px 165px;
    color: white;
    height: 24px;
}